.container {
    padding-left: 20%;
    padding-right: 20%;
    background-color: white;
    margin: 50px;
}

/* Wrapper for Markdown Text */
.post h1 {
    font-weight: bold;
    font-size: larger;
    padding-top: 30px;
    padding-bottom: 10px;
}
.post h2 {
    padding-bottom: 10px;
    padding-top: 50px;
    font-weight: bold;
}

.post p {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;

}
.post img {
    width: 50%;
    margin: auto;
    padding: 10px 0px 20px 0px;
}
.post ul {
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 6%;
    color: black;
  }