.hero {
    position: relative;
}

.hero img {
    width: 100%;
    object-fit: cover;
}

.text {
    margin: auto;
    display: flex;
    position: absolute;
    /* align-items: center; */
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
}

.text h1 {
    font-weight: 500;
    color: white;
    font-size: 3.75rem;
    text-align: center;
    align-items: center;
    width: 100%;
    letter-spacing: -0.025em;
}

