.about {
    font-size: medium;
    padding-bottom: 40px;
    min-height: 100vh;
}
@media screen and (max-width: 1000px) {
    .about {padding: 0; }
}
.about img {
    margin: auto;
    border-radius: 50%;
}
.about a {
    font-weight: 600;
}
.about p {
    color: var(--font-color);
    transition-property: color;
    transition: 1s;
}
.gallery {
    padding-bottom: 20px;
}