@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --font-color: black;
  --inversion: white;
  --bg-color: #fff;
  --heading-color: #292922;
  --card-color: rgb(250, 250, 250);
  --tag-color: rgb(255, 230, 230);
  
}
[data-theme="dark"] {
  --font-color: white;
  --inversion: black;
  --bg-color: #161625;
  --card-color: #121212;
  --heading-color: #818cab;
  --tag-color: #161625;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  width: 100%;
  overflow-y: scroll;
}
main {
  background-color: var(--bg-color);
  transition-property: background-color;
  transition: 1s;
}
h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 3rem;
  margin: 0;
  color: var(--font-color);
  transition-property: color;
  transition: 1s;
}
* {
  box-sizing: border-box;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.back {
  text-align: center;
  padding-bottom: 25px;
}

.back > a {
  color: var(--font-color);
}

.fas {
  padding-top: 2px;
  font-size: 0.7em !important;
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}