/* Tagging Section */
.title {
	text-align: center;
  font-size: 1.5rem;
  padding-top: 30px;
}
@media screen and (max-width: 700px) {
  .title {padding-top: 10px; padding-bottom: 0px; margin-bottom: 0;}
  .tags {padding-left: 20px !important; padding-right: 20px !important;}
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.active {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--font-color);
  color: var(--inversion);
  transition: 1s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.active:hover {
  cursor: pointer;
}

.inactive {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.5s;
  background-color: rgb(255, 230, 230);
}

.inactive:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
  background-color: black;
  color: white;
}

.content {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 700px) {
  .content {flex-wrap: wrap; padding: 0;}
  .tags {padding-bottom: 20px;}
  .contentTitle {padding-bottom: 0 !important; padding-top: 5px !important;}
  .contentContainer {width: 100% !important; margin: auto;}
}
.contentContainer {
  text-align: center;
  width: 50%;
}
.contentTitle {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contentTitle a {
  text-align: center;
  width: 33%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.back {
  text-align: center;
}
.back:hover {
  text-decoration: underline;
}